/* src/index.css */
html {
  height: 100%; /* Quan trọng */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; /* Quan trọng */
}

#root {
   min-height: 100vh; /* Quan trọng */
   display: flex;      /* Quan trọng */
   flex-direction: column; /* Quan trọng */
}

/* Các code CSS khác của bạn */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}